<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaituo.huntuo.dao.KeyWordDao" >
    <!--添加关键词（用于热搜词排序） -->
    <insert id="addKeyWord" parameterType="com.kaituo.huntuo.domain.po.KeyWordPO"
            useGeneratedKeys="true" keyProperty="keyWordPO.id">
        INSERT INTO
            t_keyword
            (keyword,type,times,create_time,update_time)
        SELECT
            #{keyWordPO.keyWord}, #{keyWordPO.type},1,NULL,NULL
        FROM
            DUAL
        WHERE not exists
        (
        SELECT * FROM t_keyword
        WHERE t_keyword.keyword=#{keyWordPO.keyWord}
        AND t_keyword.type=#{keyWordPO.type}
        );
    </insert>
    <!-- 增加times（搜索次数） -->
    <update id="updateTimes" parameterType="com.kaituo.huntuo.domain.po.KeyWordPO">
        <selectKey keyProperty='keyWordPO.id' resultType='int' order='BEFORE'>
            SELECT
            (select keyword_id FROM t_keyword
            WHERE
            t_keyword.keyword=#{keyWordPO.keyWord}
            AND
            t_keyword.type=#{keyWordPO.type}
            )keyword_id
            from DUAL
        </selectKey>
        UPDATE
            t_keyword
        SET
            t_keyword.times= t_keyword.times+1
        WHERE
            t_keyword.keyword=#{keyWordPO.keyWord}
        AND
            t_keyword.type=#{keyWordPO.type}
    </update>
    <delete id="deleteKeyword" parameterType="java.lang.Integer" >
        DELETE  FROM t_keyword
        WHERE keyword_id in(
        SELECT a.keyword_id FROM (
        SELECT keyword_id FROM t_keyword WHERE
        (select COUNT(*)>100 FROM t_keyword)
        AND update_time &lt; DATE_SUB(CURDATE(), INTERVAL 7 DAY))a)
	</delete>
</mapper>