<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaituo.huntuo.dao.ProductDao" >

    <!-- 按ID查找  -->
	<select id="getById" parameterType="java.lang.Integer" resultType="com.kaituo.huntuo.domain.po.ProductPO">
	    select
	    	product_id,product_name
	    from
	    	t_product
	    where
	    	product_id = #{productId,jdbcType=INTEGER}
	</select>

	<!--创建-->
	<insert id="insertAndGetId" parameterType="com.kaituo.huntuo.domain.po.ProductPO" useGeneratedKeys="true" keyProperty="id">
		insert into t_lable_group(product_name,store_id,front_money,cate_id,total_money, detail, pics, video, city_ids)
  		values (#{productName},#{storeId},#{frontMoney},#{cateId},#{totalMoney},#{detail},#{pics},#{video},#{cityIds})
	</insert>

</mapper>