<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaituo.huntuo.dao.ProductEvaluateDao">
    <resultMap id="EvAndELRelation" type="com.kaituo.huntuo.domain.dto.EvAndELRelationDTO">
        <id column="pe_id" property="id"/>
        <result column="content" property="content"/>
        <result column="pics" property="pics"/>
        <result column="user_id" property="userId"/>
        <result column="nickname" property="nickName"/>
        <result column="order_id" property="orderId"/>
        <result column="order_sn" property="orderSn"/>
        <result column="product_id" property="productId"/>
        <result column="rank" property="rank"/>
        <result column="reply_content" property="replyContent"/>
        <result column="reply_time" property="replyTime"/>
        <result column="create_time" property="createTime"/>
        <result column="state" property="state"/>
        <collection property="elRelationPOList" ofType="com.kaituo.huntuo.domain.po.ELRelationPO">
            <id column="elr_id" property="id"/>
            <result column="lable_id" property="lableId"/>
            <result column="evaluate_id" property="evaluateId"/>
            <result column="create_time" property="createTime"/>
        </collection>
    </resultMap>
    <!-- 添加评价 -->
    <insert id="insertEvaluate" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.kaituo.huntuo.domain.dto.ProductEvaluateDTO">
        INSERT INTO t_product_evaluate (rank,content,pics)VALUE(#{rank},#{content},#{pics})
    </insert>
    <!-- 添加评价标签ID -->
    <insert id="insertEvaluateLable" parameterType="com.kaituo.huntuo.domain.dto.ProductEvaluateDTO">
        INSERT INTO t_evaluate_lable_relation (lable_id,evaluate_id)VALUE(#{lableId},#{evaluateId})
    </insert>
    <!-- 删除评价 修改状态，不做物理删除 -->
    <update id="deleteEvaluate" parameterType="com.kaituo.huntuo.domain.po.ProductEvaluatePO" useGeneratedKeys="true"
            keyProperty="id">
        UPDATE t_product_evaluate SET state=#{state} WHERE product_evaluate_id=#{id}
    </update>
    <!-- 回复评价 -->
    <update id="updateReply" parameterType="com.kaituo.huntuo.domain.po.ProductEvaluatePO" useGeneratedKeys="true"
            keyProperty="id">
        UPDATE t_product_evaluate SET reply_content=#{replyContent} WHERE product_evaluate_id=#{id}
    </update>
    <!-- 按商品id查询列表 -->
    <select id="getEvaluateByProductId" resultType="com.kaituo.huntuo.domain.po.ProductEvaluatePO">
        SELECT product_evaluate_id,content,pics,user_id,nickname,order_id,order_sn,product_id,rank,reply_content,reply_time,create_time,update_time,state FROM t_product_evaluate WHERE product_id=#{VALUE}
    </select>
    <!-- 按商品id和评价标签id查询列表 -->
    <select id="getEvAndELRelation" resultMap="EvAndELRelation">
        SELECT t_product_evaluate.product_evaluate_id AS pe_id,t_evaluate_lable_relation.id AS elr_id,
        content,pics,user_id,nickname,order_id,order_sn,product_id,rank,reply_content,reply_time,t_product_evaluate.create_time AS pe_time,
        update_time,state,lable_id,evaluate_id,t_evaluate_lable_relation.create_time AS elr_time
        FROM t_product_evaluate,t_evaluate_lable_relation
        WHERE product_id=#{productId}
        AND lable_id=#{lableId}
        AND t_product_evaluate.product_evaluate_id=t_evaluate_lable_relation.evaluate_id

    </select>

</mapper>