<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaituo.huntuo.dao.StoreDao" >
    <!-- 按ID查询店铺详情 -->
    <!--此处的  as id,在StorePO中设置的属性不是StoreId，而是id，根据默认的驼峰命名，会把
     store_id转换成StoreId，而在在StorePO是id，所以使用as id-->
    <select id="getStorePOById" resultType="com.kaituo.huntuo.domain.po.StorePO">
        SELECT
            t_store.store_id as id,t_store.store_name,t_store.license,t_store.contact_number,
            t_store.tel,t_store.person_in_charge,t_store.work_time,t_store.description,
            t_store.city_id,t_store.position,t_store.address,t_store.state,t_store.rank,
            t_store.notice,t_store.type,t_store.password,t_store.token,t_store.city_ids
        FROM
            t_store
        WHERE
            t_store.store_id=#{id,jdbcType=INTEGER}
    </select>
    <!-- 修改店铺状态-->
    <update id="updateStoreStateById">
        UPDATE
            t_store
        SET
            t_store.state=#{state,jdbcType=INTEGER}
        WHERE
             t_store.store_id=#{id,jdbcType=INTEGER}
    </update>
    <!--添加店铺 -->
    <insert id="addStore" parameterType="com.kaituo.huntuo.domain.po.StorePO">
        INSERT INTO
            t_store
            (store_id,store_name,license,contact_number,tel,person_in_charge,
            work_time,description,city_id,position,address,state,rank,notice,
            type,password,token,city_ids)
             VALUES
            (#{storePO.id},#{storePO.storeName},#{storePO.license},#{storePO.contactNumber},
             #{storePO.tel},#{storePO.personInCharge},#{storePO.workTime},#{storePO.description},
             #{storePO.cityId},#{storePO.position},#{storePO.address},#{storePO.state},#{storePO.rank},
             #{storePO.notice},#{storePO.type},#{storePO.password},#{storePO.token},#{storePO.cityIds})
    </insert>
    <!-- 修改店铺详情-->
    <update id="updateStoreById" parameterType="com.kaituo.huntuo.domain.po.StorePO">
        UPDATE
            t_store
        SET
            t_store.store_name=#{storePO.storeName},t_store.contact_number=#{storePO.contactNumber},
            t_store.tel=#{storePO.tel},t_store.person_in_charge=#{storePO.personInCharge},
            t_store.work_time=#{storePO.workTime},t_store.description=#{storePO.description},
            t_store.city_id=#{storePO.cityId}, t_store.position=#{storePO.position},
            t_store.address=#{storePO.address},t_store.notice=#{storePO.notice},t_store.type=#{storePO.type},
            t_store.password=#{storePO.password},
            t_store.city_ids=#{storePO.cityIds}
        WHERE
             t_store.store_id=#{storePO.id}
    </update>
</mapper>